
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}


@media (max-width: 768px) {
  .offset-to-center {
          text-align: center;
   }
}

.black {
    color-background: black;
}

@media (max-width: 576px) {
  .offset-text-to-center-576 {
          text-align: center;
   }
}

@media (max-width: 992px) {
  .offset-text-to-center-992 {
          text-align: center;
   }
}

@media (max-width: 1200px) {
  .offset-text-to-center {
          text-align: center;
   }
}

.has-error label.error {
    color: red;
}
.has-error .help-block {
    color: red;
}

.no-permission-enter {
    text-align: center;
    margin: auto;
    color: red;
}

.no-permission-image{
    font-size: 800%;
}

.authenticated_user_name{
    color:white;
    display: inline-block;
    margin: 0px;
    margin-right: 20px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

a {
    color:black;
}
#expand_text {
    color:blue;
    font-size: 60%;
}



a:hover {
    color:#505050;
    text-decoration: none;

}

ul {
  list-style-type: none;
}

.bigger {
    font-size: 120%;
}

/* star */
.bold {
    font-weight: bold;
}

.transf {
    transform: scaleX(-1);
}


.yellow {
    color: #ff9900;
}

.grey {
    color: grey;
}

.orange {
    color:#ff751a;
}

.fa-stack {
    margin: -7px;
}
#right_star {
    margin-left: -0.8px;
}

.orange {
    color: orange;
 }

 .orange_vote {
    color: orange;
 }



.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}



/* header */
.header_top {
    background-color: black;
    padding-top: 10px ;
    padding-bottom: 10px ;
    }

.jumbotron {
    margin:0px;
    }

#register_now {
    margin:10px;
    }

.under_jumbo {
    background-color: black;
    padding-top: 10px ;
    padding-bottom: 10px;
    }

#movies_list, #actors_list {
    margin: 0px 40px;
    }

#add_movie , #add_actor {
    color: white;
}


/*  actor section */

.align-justify {
    text-align:justify;
}

.card {
    margin-bottom: 20px;
}

.card-body {
    padding:0px;
}

.card-section {
    margin-top: 20px;
    margin-left: 50px;
}

#element1 {
    display:inline-block;

}
#element2 {
    font-size: 90%;
    display:inline-block;
    margin-left: 10px;

}
#element3 {
    font-size: 90%;
    display:inline-block;
    margin-top: -20px;
    margin-left: 10px;

#actor_original_name {
    margin: 0px;
    margin-top: -100px;
    padding: 0px;
    padding-top: -20px;

}

}

#actor_image_list {
    height: 200px;
    width: 140px;


}



#gallery_img {
    height: 120px;
    width: 80px;
    padding: 1px;

}

#delete_img {
    height: 120px;
    width: 80px;
}

#delete_img:hover {
    height: 120px;
    width: 80px;
    border: solid red 6px;
}




/*  movie section */

#duration_time {
    margin: 0px;
    margin-top: -15px;
}



#paragraph_category {
    color:#505050;
    font-size: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
}

.cut_words {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;

}

.font_90 p{
    font-size: 90%;
}

.margin_bottom p {
    margin-bottom: 0rem;
}

.margin_bottom_20px {
    margin_bottom: 20px;
}
.margin-border {
    margin-bottom: -5px;
}

#form_in_movie_list{
    text-align:center;
}

.votes {
    color:#505050;
    margin-top: -15px;
    font-size: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
}


.comment_added_by {
    margin-top: -15px;
    font-size: 80%;

}


#movie_dur_span {
    color:#505050;
    font-size: 15px;

}

#rate_now{
    margin-top: -20px;
}

.red {
    color: red;
}

#a1 {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    padding: 0px;
    margin-left: 0px;
}

#a2, #a3, #a4, #a5 {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    padding: 0px;
    margin-left: -5px;
}








/* TABLE */
.table td, .table th {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-top-width: 0px;
    align: right;
    vertical-align: middle;
}


#img_table {
    height: 100px;
    width: 70px;
}

#actor_in_table{
    padding-left: 20px;
}


/*          PAGINATION          */
.page-link {
    color: black;
}

.page-item.active .page-link {
    color: #fff;
    background-color: #545b62;
    border-color: #545b62;
}