
html,
body {
    margin:0 !important;
    width: 100% !important;
}

a {
    color:black;
}
#expand_text {
    color:blue;
    font-size: 60%;
}

a:hover {
    color:#505050;
    text-decoration: none;

}

/* header */
.header_top {
    background-color: black;
    padding-top: 10px ;
    padding-bottom: 10px ;
    }

.jumbotron {
    margin:0px;
    }

#register_now {
    margin:10px;
    }

.under_jumbo {
    background-color: black;
    padding-top: 10px ;
    padding-bottom: 10px;
    }

#movies_list, #actors_list {
    margin: 0px 40px;
    }

#add_movie , #add_actor {
    color: white;
}


/*  actor section */

.card {
    margin-bottom: 20px;
}

.card-body {
    padding:0px;
}

.card-section {
    margin: 20px;
}

#element1 {
    display:inline-block;

}
#element2 {
    font-size: 90%;
    display:inline-block;

}

#actor_image_list {
    height: 180px;
    width: 140px;

}

.fa-star {
    color: #ff9900;
}

#gallery_img {
    height: 100px;
    width: 80px;

}

/*  movie section */

#duration_time {
    margin: 0px;
}

#duration_text {
    color:#505050;
    font-size: 90%;
}

#paragraph_category {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
