{% extends 'base.html' %}

{% block content %}

<div class="row no-gutters">
    <div class="col-8 offset-2">

       <div class="row">
          <div class="col-2">
              <img id="actor_image_list" class="img-responsive" src="/media/{{movie.poster}}" alt="{{movie.title}}">
          </div>
          <div class="col-8">
              <h3 class="card-title" id="">Cast: {{movie.title}} ({{movie.year_of_production}})

              </h3>
              <div class="row">
                    <div class="col-12">
                    <hr>

                 <table class="table table-striped">
                          <tbody>
                          {% for actor in related_actors %}

                            <tr>
                              <th scope="row" width="10%"><img id="img_table" src="/media/{{actor.photo}}" alt="{{actor.last_name}}"></th>
                                <td id="actor_in_table" width="40%">
                                    <a class="bold" {%if 'management_cast' in request.get_full_path %} href="{% url 'edit_cast' movie.slug actor.id %}" {% else %} href="{{actor.get_to_detail}}" {% endif %}> {{ actor.name }} {{ actor.last_name }}</a>

                                    {% include 'stars.html' with object=actor.average_stars|first %}
                                      <p class="votes_for_table">Actor rate: {{actor.average_stars|first}}/5  |  {{actor.average_stars|last}} vote{{actor.average_stars|last|pluralize}}</p>
                                </td>
                                <td align="left" id="role_in_table" width="40%">
                                    {% if actor.actor_role %}
                                        {{ actor.actor_role.role }}
                                    {% else %}
                                        <i class="fas fa-ban red"></i>
                                    {% endif %}
                                 </td>
                                <td width="5%">
                                 {% if actor.actor_role.picture %}
                                    <img id="img_table" src="/media/{{actor.actor_role.picture}}" alt="{{actor.actor_role.role}}">
                                    {% endif %}
                                </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                        </table>

              <div class="row">
                    <div class="col-12">
                    <hr>
                    <a href="{% url 'movie_detail' movie.slug %}" class="btn btn-outline-dark my-2 my-sm-0" >Return to {{movie.title}}</a><br><br>
                    </div>

              </div>



          </div>
       </div>
    </div>
</div>

















{% endblock %}