{% extends 'base.html' %}

{% block content %}

<div class="row no-gutters">
    <div class="col-8 offset-2">

       <div class="row">
          <div class="col-2">
              <img id="actor_image_list" class="img-responsive" src="/media/{{comment_list.0.movie.poster}}" alt="{{comment_list.0.movie.title}}">
          </div>
          <div class="col-8">
              <h3 class="card-title" id="">Comments: {{comment_list.0.movie.title}} ({{comment_list.0.movie.year_of_production}})

 </h3>
              <div class="row">
                    <div class="col-12">


                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">{% include 'stars.html' with object=comment.stars %}</h5>
                            <p class="card-subtitle mb-3 text-muted comment_added_by">
                                Added by: <span class="bold">{{comment.added_by.username}}</span>  |
                                {% if comment.added_time == comment.edited_time %}
                             {{comment.added_time}}
                              {% else %}
                               {{comment.added_time}} (added) |  {{comment.edited_time}} (edited)
                              {% endif %}
                            </p>


                            <p class="card-text">{{comment.comment}}</p>
                              {% if request.user is user %}
                            <a href="{% url 'edit_comment' comment.pk comment.movie.slug%}" class="card-link">Edit your comment</a>
                            <a href="#" class="card-link">Another link</a>
                              {% endif %}
                          </div>
                        </div>




                    </div>
              </div>


              <div class="row">
                    <div class="col-12">
                    <hr>

                    <a href="{{request.META.HTTP_REFERER}}" class="btn btn-outline-dark my-2 my-sm-0" >Return {{movie}}</a><br><br>

                    </div>
              </div>


          </div>
       </div>
    </div>
</div>























{% endblock %}