{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-end no-gutters">
    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-10 center">
       <div class="row">
          <div class="col-12 col-xs-12 col-sm-12 col-md-3 col-lg-2 col-xl-2 center">
              <img id="actor_image_list" class="rounded mx-auto d-block" src="http://res.cloudinary.com/hmoahlwol/image/upload/{{movie.poster}}" alt="{{movie.title}}">
          </div>
          <div class="col-12 col-xs-12 col-sm-12 col-md-9 col-lg-8 col-xl-6">
              <h3 class="card-title offset-to-center" >Gallery: {{movie.title}} ({{movie.year_of_production}})
              </h3>
              <div class="row">
                    <div class="col-12">
                    <hr>
{% if 'management_image' in request.get_full_path %}
                        <i class="fas fa-exclamation-triangle red">{% if object.movie_gallery.all|length == 0 %} There is no images to delete! {% else %}
                            Click on image you want to delete!{% endif %}</i><br><br>
                            {% for imag in object.movie_gallery.all %}
                            <a href="{% url 'delete_picture' movie.slug imag.id %}"><img id="delete_img" src="http://res.cloudinary.com/hmoahlwol/image/upload/{{imag.picture}}"></a>
                        {% endfor %}
{% else %}
                        {% for imag in object.movie_gallery.all %}
                            <a href="http://res.cloudinary.com/hmoahlwol/image/upload/{{imag.picture}}"><img id="gallery_img" src="http://res.cloudinary.com/hmoahlwol/image/upload/{{imag.picture}}"></a>
                        {% empty %}
                        <i class="fas fa-exclamation-triangle orange"> The gallery is empty!</i>
                        {% endfor %}
{% endif %}
                    </div>
              </div>
              <div class="row">
                    <div class="col-12">
                    <hr>
                    <a href="{% url 'movie_detail' movie.slug %}" class="btn btn-outline-dark my-2 my-sm-0" >Return to {{movie.title}}</a><br><br>
                    </div>
              </div>
            {% if is_paginated %}
            <hr>
            {% include 'pagination.html' %}
            {% endif %}
          </div>
       </div>
    </div>
</div>

{% endblock %}