{% extends 'base.html' %}

{% block content %}

<div class="row no-gutters">
    <div class="col-8 offset-2">

       <div class="row">
          <div class="col-2">
              <img id="actor_image_list" class="img-responsive" src="/media/{{object.poster}}" alt="{{object.title}}">
          </div>
          <div class="col-4">
              <h3 class="card-title" id="">{{movie.title}} ({{movie.year_of_production}}) <span id="movie_dur_span">{{movie.duration}} min</span></h3>

              <div class="row">
                  <div class="col-2 no_gutters">
                      <p>Category:</p>
                      <p>Director:</p>
                      <p>Production:</p>
                      <p>Budget:</p>


                  </div>
                  <div class="col-3">
                      <p>{% if movie.moviecategory_set.all|length > 1 %}
                                            {% for cat in movie.moviecategory_set.all %}
                                                {% if forloop.counter != movie.moviecategory_set.all|length %}
                                                    {{cat.category}},
                                                {% else %}
                                                    {{cat.category}}
                                                {% endif %}
                                            {% empty %}
                                                <a href="{% url 'add_category' movie.slug %}"><i class="fas fa-plus"></i> Add</a>
                                            {% endfor %}
                                        {% elif movie.moviecategory_set.all|length is 1 %}
                                            {{movie.moviecategory_set.all.0.category}}
                                        {% endif %}</p>

                      <p>Director add </p>
                      <p>{{movie.production.name}}</p>
                      <p>{{movie.budget}} $</p>
                  </div>
              </div>

                  <div class="col-3 align-self-center">

                      <h3 id="element1"><i class="fas fa-star"></i> {{object.average_stars|first}}</h3>
                      <p id="element2">{{object.average_stars|last}} vote{{object.average_stars|last|pluralize}}</p>
                  </div>

                  <div class="col-3 align-self-center">

                      <h3 id="element1"><i class="fas fa-star"></i> {{object.average_stars|first}}</h3>
                      <p id="element2">{{object.average_stars|last}} vote{{object.average_stars|last|pluralize}}</p>
                  </div>


              </div>
          </div>
      </div>

        <br><br>


        <div class="row justify-content-center">
            <div class="col-12">
                <h4>Gallery</h4>
                <hr>
                {% for imag in object.movie_gallery.all %}
                <a href="/media/{{imag.picture}}"><img id="gallery_img" src="/media/{{imag.picture}}"></a>
                {% endfor %}
            </div>
        </div>




    </div>
    <div class="col-2">
        {% include 'movies/dashboard.html' %}
    </div>
</div>









{% endblock %}