{% extends 'base.html' %}

{% block content %}

<div class="row no-gutters">
    <div class="col-8 offset-2">

       <div class="row">
          <div class="col-2">
              <img id="actor_image_list" class="img-responsive" src="/media/{{movie.poster}}" alt="{{movie.title}}">
          </div>
          <div class="col-10">
              <h3 class="card-title" id="">{{movie.title}} ({{movie.year_of_production}})
                  <span id="movie_dur_span"><i class="far fa-clock"></i> {{movie.duration}} min</span>
              </h3>
            <div class="row font_90">
                <div class="col-5">

                              <div class="row no_gutters">
                                  <div class="col-4">
                                      <p>Category:</p>
                                  </div>
                                  <div class="col-6">
                                       <p>
                                          {% if movie.moviecategory_set.all|length > 1 %}
                                                {% for cat in movie.moviecategory_set.all %}
                                                    {% if forloop.counter != movie.moviecategory_set.all|length %}
                                                        {{cat.category}},
                                                    {% else %}
                                                        {{cat.category}}
                                                    {% endif %}
                                                {% endfor %}
                                          {% elif movie.moviecategory_set.all|length is 1 %}
                                                {{movie.moviecategory_set.all.0.category}}
                                           {% elif movie.moviecategory_set.all|length == 0 %}
                                                <i class="fas fa-ban red"></i>
                                          {% endif %}

                                      </p>
                                  </div>
                              </div>

                              <div class="row">
                                  <div class="col-4">
                                      <p>Director:</p>
                                  </div>
                                  <div class="col-6">
                                      <p>ADD DIRECTOR</p>
                                  </div>
                              </div>

                              <div class="row">
                                  <div class="col-4 ">
                                      <p>Production:</p>
                                  </div>
                                  <div class="col-6">
                                      <p>{{movie.production.name}}</p>
                                  </div>
                              </div>

                              <div class="row">
                                  <div class="col-4">
                                      <p>Budget:</p>
                                  </div>
                                  <div class="col-6">
                                      <p>{{movie.budget}} $</p>
                                  </div>
                              </div>
                </div>
                <div class="col-4">
                  <div class="row no_gutters">
                      <div class="col-12">
                          <p>{{movie.description}}</p>
                      </div>
                  </div>
            </div>
                <div class="col-3">
                    <div class="row">
                         <div class="col-12" >

                              <h3 id><i class="fas fa-star" style="  color:orange;"></i> {{movie.average_stars|first}}</h3>
                              <p id="element2">{{movie.average_stars|last}} vote{{movie.average_stars|last|pluralize}}</p>

                         </div>
                    </div>

                  <div class="row">
                     <div class="col-12 align-self-end">

                        {% include 'form_stars.html' with object=movie.movie_comments vote=user_vote %}

                         <div class="fb-share-button" data-href="{{request.get_full_path}}"
                              data-layout="button" data-size="small" data-mobile-iframe="true">
                             <a target="_blank" href=""
                                class="fb-xfbml-parse-ignore">Share</a></div>
                     <br>
                      </div>
                    </div>
                </div>
          </div>
       </div>
    </div>
        <br><br>

        <div class="row justify-content-center">
            <div class="col-8">
                <h4>Gallery
                    {% if gallery_movie_all|length > 18 %}
                    <span id="movie_dur_span"><a href="{% url 'picture_gallery' movie.slug %}">
                        <i class="far fa-images"> ({{gallery_movie_all|length|add:-18}} more)</i></a>
                    </span>
                    {% endif %}
                </h4>
                <hr>
            {% if 'management_image' in request.get_full_path %}
                {% for imag in gallery_movie_all %}
                <a href="/media/{{imag.picture}}"><img id="gallery_img" src="/media/{{imag.picture}}"></a>
                {% endfor %}
            {% else %}
                {% for imag in gallery_movie_18 %}
                <a href="/media/{{imag.picture}}"><img id="gallery_img" src="/media/{{imag.picture}}"></a>
                {% endfor %}
            {% endif %}

            </div>
        </div>
        <br><br>




        <div class="row justify-content-center">
            <div class="col-8">
                <h4>Cast
                    {% if related_actors|length > 10 %}
                    <span id="movie_dur_span"><a href="{% url 'cast_list' movie.slug %}">
                        <i class="fas fa-users"> ({{related_actors|length|add:-10}} more)</i></a>
                    </span>
                    {% endif %}
                </h4>
         <hr>

                    <table class="table table-striped">
                          <tbody>
                          {% for query in related_actors %}
                      {% if forloop.counter <= 10 %}
                            <tr>
                              <th scope="row" width="10%">{% if query.actor.photo %}<img id="img_table" src="/media/{{query.actor.photo}}" >{% endif %}</th>
                                <td id="actor_in_table" width="40%">
                                    <a class="bold" href="{{query.actor.get_to_detail}}">{{ query.actor.name }} {{ query.actor.last_name }}</a>
                                    {% include 'stars.html' with object=query.actor.average_stars|first %}
                                      <p class="votes">Actor rate: {{query.actor.average_stars|first}}/5  |  {{query.actor.average_stars|last}} vote{{query.actor.average_stars|last|pluralize}}</p>
                                </td>
                                <td align="left" id="role_in_table" width="40%">
                                    <div class="bold">{{ query.role }}</div>
                                 </td>
                                <td width="5%">
                                 {% if query.picture %}
                                    <img id="img_table" src="/media/{{query.picture}}" >
                                    {% endif %}
                                </td>
                            </tr>

                    {% endif %}
                          {% endfor %}
                        </tbody>
                        </table>


            </div>
        </div>



<br><br><br>
</div>

<div class="col-2">
        {% include 'movies/dashboard.html' with object=movie %}
    </div>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>







{% endblock %}
