{% extends 'base.html' %}

{% block content %}

<div class="row no-gutters">
    <div class="col-6 offset-3">
        {% for movie in object_list %}
        <div class="card">
          <div class="card-body">
              <div class="row">
                  <div class="col-2">
                      <img id="actor_image_list" class="img-responsive" src="{{movie_instance.poster.url}}" alt="{movie_instance.poster.name}}">
                  </div>
                  <div class="col-10">
                      <div class="card-section">
                          <h3 class="card-title" id="duration_time"><a href="{{movie.get_to_detail}}">{{movie.title}} ({{movie.year_of_production}})</a></h3>
                          <div class="row">
                              <div class="col-2">
                                  <p id="paragraph_category">{{movie.duration}}min</p>
                              </div>
                              <div class="col-5">
                                  <p id="paragraph_category">
                                        {% if movie.moviecategory_set.all|length > 1 %}
                                            {% for cat in movie.moviecategory_set.all %}
                                                {% if forloop.counter != movie.moviecategory_set.all|length %}
                                                    {{cat.category}},
                                                {% else %}
                                                    {{cat.category}}
                                                {% endif %}
                                            {% empty %}
                                                <a href="{% url 'add_category' movie.slug %}"><i class="fas fa-plus"></i> Add</a>
                                            {% endfor %}
                                        {% elif movie.moviecategory_set.all|length is 1 %}
                                            {{movie.moviecategory_set.all.0.category}}
                                       {% else %}
                                           <i class="fas fa-ban red"> Add category in details</i>
                                        {% endif %}
                                    </p>
                              </div>
                          </div>

                              <div class="row">
                                  <div class="col-6">
                                      {% include 'stars.html' with object=movie.average_stars|first %}
                                      <p class="votes">{{movie.average_stars|first}}/5  |  {{movie.average_stars|last}} vote{{movie.average_stars|last|pluralize}}</p>
                                  </div>

                        </div>
                          <div class="row">
                              <div class="col-2">
                                  <p class="bold" id="paragraph_category">Director: </p>
                              </div>
                              <div class="col-3">
                                <p id="paragraph_category">
                                    {% for person in director %}
                                        {% if  movie == person.movie and person.role == check_director %}
                                            <a href="{{person.actor.get_to_detail}}">{{ person.actor }}</a>
                                        {% else %}
                                            <i class="fas fa-ban red"> Add in details</i>
                                        {% endif %}
                                    {% endfor %}
                                </p>
                              </div>
                              <div class="col-2">
                                  <p class="bold" id="paragraph_category">Actors: </p>
                              </div>

                              <div class="col-5">
                                    <p id="paragraph_category">
                                        {% if actors_in_movie|length > 1 %}
                                            {% for person in actors_in_movie %}
                                                {% if forloop.counter != actors_in_movie|length and person.movie == movie %}
                                            <a href="{{person.actor.get_to_detail}}">{{person.actor}}</a>,
                                                {% else %}
                                                    <a href="{{person.actor.get_to_detail}}">{{person.actor}}</a>
                                                {% endif %}
                                            {% empty %}
                                                <i class="fas fa-ban red"> Add actors in details</i>
                                            {% endfor %}
                                        {% elif actors_in_movie|length is 1 %}
                                            <a href="{{actors_in_movie.0.actor.get_to_detail}}">{{actors_in_movie.0.actor}}</a>
                                       {% else %}
                                           <i class="fas fa-ban red"> Add actors in details</i>
                                        {% endif %}
                                    </p>
                              </div>
                           </div>
                          <div class="row margin_bottom">
                              <div class="col-2">
                                  <p class="bold " id="paragraph_category">Production: </p>
                              </div>
                              <div class="col-3">
                                    <p id="paragraph_category">
                                        {{movie.production.name}}
                                    </p>
                              </div>
                              <div class="col-2">
                                  <p class="bold" id="paragraph_category">Budget: </p>
                              </div>
                              <div class="col-5">
                                    <p id="paragraph_category">
                                        {{movie.budget}} $
                                    </p>
                              </div>
                           </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>
        {% empty %}
        <h5>No movies yet.</h5>
        {% endfor %}

        {% if is_paginated %}
            <hr>
            {% include 'pagination.html' %}
        {% endif %}
    </div>
    <div class="col-2">
        <form method="GET" action="">
            <input type="text" name="q" placeholder="Search for movie">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit" >Submit</button>
        </form>
    </div>

</div>






{% endblock %}