{% extends 'base.html' %}

{% block content %}


<div class="row no-gutters">
    <div class="col-6 offset-3">
         {% for actor in object_list %}
        <div class="card">
          <div class="card-body">
              <div class="row">
                  <div class="col-2">
                      <img id="actor_image_list" class="img-responsive" src="/media/{{actor.photo}}" alt="{{actor.last_name}}">
                  </div>
                  <div class="col-10">
                      <div class="card-section">
                          <h4 class="card-title" id="element1"><a href="{{actor.get_to_detail}}">{{actor.name}} {{actor.last_name}}</a></h4>
                          <p id="element2">{{actor.actor_age}} years old ({{actor.born|date:"Y"}} - {% if actor.if_died %}<i class="fas fa-cross"></i> {{actor.died|date:"Y"}}{% endif %})</p>
                            {% if actor.original_name %}<p>{{actor.original_name}}</p> {% endif %}
                          <div class="card-section2"><br>
                           {% include 'stars.html' with object=actor.average_stars|first %}
                            <p class="votes">{{actor.average_stars|first}}/5  |  {{actor.average_stars|last}} vote{{actor.average_stars|last|pluralize}}</p>



                        </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>

        {% empty %}
        <h5>No persons yet.</h5>
        {% endfor %}

        {% if is_paginated %}
            <hr>
            {% include 'pagination.html' %}
        {% endif %}
    </div>
</div>


{% endblock %}