{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-end no-gutters">
    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-8 center">
       <div class="row">
          <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 center">
              <img id="actor_image_list" class="rounded mx-auto d-block" src="http://res.cloudinary.com/hmoahlwol/image/upload/{{actor.photo}}"
                   alt="{{actor.last_name}}">
          </div>



           <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-9 col-xl-9">
              <h3 class="card-title offset-text-to-center-992">{{object.name}} {{object.last_name}}</h3>

            <div class="row font_90">
                <div class="col-12 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                {% if object.original_name %}
                              <div class="row no_gutters">
                                  <div class="col-12">
                                      <p class="offset-text-to-center-992">{{object.original_name}}</p>
                                  </div>
                              </div>
                                {% endif %}
                              <div class="row no_gutters">
                                  <div class="col-2">
                                      <p class="bold">Born:</p>
                                  </div>
                                  <div class="col-8">
                                      <p>{{object.born|date:"j F Y"}} ({{object.actor_age}} years old)</p>
                                  </div>
                              </div>
			{% if object.if_died %}
                              <div class="row">
                                  <div class="col-2">
                                      <p class="bold">Died:</p>
                                  </div>
                                  <div class="col-8">
                                       <p>{{object.died|date:"j F Y"}}</p>
                                  </div>
                              </div>
             {% endif %}
                              <div class="row">
                                  <div class="col-2 ">
                                      <p class="bold">Birth place:</p>
                                  </div>
                                  <div class="col-8">
                                      <p>{{object.city_of_birth}}, {{object.nationality.name}}</p>
                                  </div>
                              </div>
                </div>

                <div class="col-12 col-sm-3 offset-to-center col-md-3 col-lg-3 col-xl-3">
                    <div class="row">
                         <div class="col-12" >
                              <h3 id><i class="fas fa-star orange"></i> {{actor.average_stars|first}}</h3>
                              <p id="element2">{{actor.average_stars|last}} vote{{actor.average_stars|last|pluralize}}</p>
                         </div>
                    </div>
                  <div class="row">
                     <div class="col-12 align-self-end">
                         {% if request.user.is_authenticated %}
                        {% include 'form_stars.html' with object=actor.actor_comments vote=user_vote %}
                          {% endif %}
                         <div class="fb-share-button" data-href="{{request.get_full_path}}"
                              data-layout="button" data-size="small" data-mobile-iframe="true">
                             <a target="_blank" href=""
                                class="fb-xfbml-parse-ignore">Share</a>
                     <br>
                         </div>
                     </div>
                  </div>
                </div>
            </div>
           </div>
       </div>
    </div>



    <div class="col-12 col-xs-12 col-sm-12 col-md-12 offset-text-to-center col-lg-12 col-xl-2">
        {% include 'actors/dashboard.html' with actor=actor%}
    </div>
</div>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>






{% endblock %}
