{% extends 'base.html' %}

{% block content %}

<div class="row no-gutters">
    <div class="col-8 offset-2">

      <div class="row">
          <div class="col-2">
              <img id="actor_image_list" class="img-responsive" src="/media/{{actor.photo}}" alt="{{actor.last_name}}">
          </div>
          <div class="col-10">
              <h3 class="card-title">{{object.name}} {{object.last_name}}</h3>
              {% if object.original_name %}<p>{{object.original_name}}</p>{% endif %}
              <div class="row">
                  <div class="col-2">
                      <p>Born:</p>
                      {% if object.if_died %}
                      <p>Died:</p>
                      {% endif %}
                      <p>Birth place:</p>

                  </div>
                  <div class="col-6">
                      <p>{{object.born|date:"j F Y"}} ({{object.actor_age}})</p>
                      {% if object.if_died %}
                      <p>{{object.died|date:"j F Y"}}</p>
                      {% endif %}
                      <p>{{object.city_of_birth}}, {{object.nationality.name}}</p>
                  </div>
                  <div class="col-4 align-self-center">
                      <div class="row">
                         <div class="col-12" >
                              <h3 id><i class="fas fa-star" style="  color:orange;"></i> {{actor.average_stars|first}}</h3>
                              <p id="element2">{{actor.average_stars|last}} vote{{actor.average_stars|last|pluralize}}</p>
                         </div>
                    </div>
                  <div class="row">

                      <div class="col-12 align-self-end">
                          {% if request.user.is_authenticated %}
                        {% include 'form_stars.html' with object=actor.actor_comments vote=user_vote %}
                          {% endif %}
                         <div class="fb-share-button" data-href="{{request.get_full_path}}"
                              data-layout="button" data-size="small" data-mobile-iframe="true">
                             <a target="_blank" href=""
                                class="fb-xfbml-parse-ignore">Share</a>
                         </div>
                        <br>
                      </div>

                  </div>
                  </div>
              </div>
          </div>
      </div>

        <br><br>
        {% if gallery_actor_all %}
              <div class="row justify-content-center">
            <div class="col-8">
                <h4>Gallery
                    {% if gallery_actor_all|length > 20 %}
                    <span id="movie_dur_span"><a href="{% url 'actor_gallery' actor.slug %}">
                        <i class="far fa-images"> ({{gallery_actor_all|length|add:-20}} more)</i></a>
                    </span>
                    {% endif %}
                </h4>
                <hr>
            {% if 'management_image' in request.get_full_path %}
                {% for imag in gallery_actor_all %}
                <a href="/media/{{imag.picture}}"><img id="gallery_img" src="/media/{{imag.picture}}"></a>
                {% endfor %}
            {% else %}
                {% for imag in gallery_actor_20 %}
                <a href="/media/{{imag.picture}}"><img id="gallery_img" src="/media/{{imag.picture}}"></a>
                {% endfor %}
            {% endif %}
            </div>
        </div>
        <br><br>
        {% endif %}

        {% if object.biography %}
        <div class="row justify-content-center">
            <div class="col-8">
                <h4>Biography</h4>
                <hr>
                <p class="text">{{object.biography|linebreaks}} </p>
            </div>
        </div>
        <br><br>
        {% endif %}


       {% if related_movies or related_crews %}
        <div class="row justify-content-center">
            <div class="col-8">
                <h4>Filmography</h4>
                <hr>

            </div>
        </div>

        {% endif %}

        {% if related_movies %}
         <div class="row justify-content-center">
            <div class="col-8">
                <h5>Cast
                    {% if related_movies|length > 10 %}
                    <span id="movie_dur_span"><a href="{% url 'actor_cast_list' actor.slug %}">
                        <i class="far fa-users"> ({{related_movies|length|add:-10}} more)</i></a>
                    </span>
                    {% endif %}
                </h5>
                    <table class="table table-striped">
                          <tbody>
                          {% for query in related_movies %}
                      {% if forloop.counter <= 10 %}
                            <tr>
                              <th scope="row" width="10%">{% if query.movie.poster %}<img id="img_table" src="/media/{{query.movie.poster}}" >{% endif %}</th>
                                <td id="actor_in_table" width="40%">
                                    <a class="bold" href="{{query.movie.get_to_detail}}">{{ query.movie.title }} ({{ query.movie.year_of_production }})</a>
                                    {% include 'stars.html' with object=query.movie.average_stars|first %}
                                      <p class="votes">Movie rate: {{query.movie.average_stars|first}}/5  |  {{query.movie.average_stars|last}} vote{{query.movie.average_stars|last|pluralize}}</p>
                                </td>
                                <td align="left" id="role_in_table" width="40%">
                                    <div class="bold">{{ query.role }}</div>
                                 </td>
                                <td width="5%">
                                 {% if query.picture %}
                                    <img id="img_table" src="/media/{{query.picture}}" >
                                    {% endif %}
                                </td>
                            </tr>
                    {% endif %}
                          {% endfor %}
                        </tbody>
                    </table>
            </div>
        </div>

        {% endif %}
<br><br>
        {% if related_crews %}
        <div class="row justify-content-center">
            <div class="col-8">

                <h5>Crew
                    {% if related_crews|length > 10 %}
                    <span id="movie_dur_span"><a href="{% url 'cast_list' movie.slug %}">
                        <i class="fas fa-users"> ({{related_crews|length|add:-10}} more)</i></a>
                    </span>
                    {% endif %}
                </h5>


                    <table class="table table-striped">
                          <tbody>
                          {% for query in related_crews %}
                      {% if forloop.counter <= 10 %}
                            <tr>
                              <th scope="row" width="10%">{% if query.movie.poster %}<img id="img_table" src="/media/{{query.movie.poster}}" >{% endif %}</th>
                                <td id="actor_in_table" width="40%">
                                    <a class="bold" href="{{query.movie.get_to_detail}}">{{ query.movie.title }} ({{ query.movie.year_of_production }})</a>
                                    {% include 'stars.html' with object=query.movie.average_stars|first %}
                                      <p class="votes">Movie rate: {{query.movie.average_stars|first}}/5  |  {{query.movie.average_stars|last}} vote{{query.movie.average_stars|last|pluralize}}</p>
                                </td>
                                <td align="left" id="role_in_table" width="40%">
                                    <div class="bold">{{ query.role }}</div>
                                 </td>
                                <td width="5%">
                                 {% if query.picture %}
                                    <img id="img_table" src="/media/{{query.picture}}" >
                                    {% endif %}
                                </td>
                            </tr>
                    {% endif %}
                          {% endfor %}
                        </tbody>
                        </table>
            </div>
        </div>
<br><br>
        {% endif %}

  {% if all_comment_list %}
        <div class="row justify-content-center">
            <div class="col-8">
                <h4>Comments
                    {% if all_comment_list|length > 5 %}
                    <span id="movie_dur_span"><a href="{% url 'actor_comment_list' actor.slug %}">
                        <i class="far fa-comments"> ({{all_comment_list|length|add:-5}} more)</i></a>
                    </span>
                    {% endif %}
                </h4><hr>

                 {% for comment in your_comment_list %}
                        <div class="card">
                          <div class="card-body">
                          <div class="row">
                              <div class="col-11">
                            <h5 class="card-title">{% include 'stars.html' with object=comment.stars %}</h5>
                            <p class="card-subtitle mb-3 text-muted comment_added_by">
                                Added by: <span class="bold">{{comment.added_by.username}}</span>  |
                                {% if comment.added_time == comment.edited_time %}
                             {{comment.added_time}}
                              {% else %}
                               {{comment.added_time}} (added) |  {{comment.edited_time}} (edited)
                              {% endif %}
                            </p>
                              </div>
                              <div class="col-1">
                                  {% if request.user.id is comment.added_by.id %}
                            <a href="{% url 'actor_edit_comment' comment.id  %}" ><i class="far fa-edit"></i></a>
                            <a href="{% url 'actor_delete_comment' comment.id  %}"><i class="far fa-trash-alt"></i></a>
                              {% endif %}
                              </div>
                          </div>
                              {% if comment.comment %}
                              <div class="row">
                                  <div class="col-12">
                                      <p class="card-text">{{comment.comment}}</p>
                          <br>
                                  </div>
                              </div>
                              {% endif %}
                          </div>
                        </div>
                {% endfor %}

                        {% for comment in comment_list %}
                        {% if comment.added_by.username != request.user.username %}
                        <div class="card">
                          <div class="card-body">
                          <div class="row">
                              <div class="col-11">
                            <h5 class="card-title">{% include 'stars.html' with object=comment.stars %}</h5>
                            <p class="card-subtitle mb-3 text-muted comment_added_by">
                                Added by: <span class="bold">{{comment.added_by.username}}</span>  |
                                {% if comment.added_time == comment.edited_time %}
                             {{comment.added_time}}
                              {% else %}
                               {{comment.added_time}} (added) |  {{comment.edited_time}} (edited)
                              {% endif %}
                            </p>
                              </div>
                              <div class="col-1">
                                  {% if request.user.id is comment.added_by.id %}
                            <a href="{% url 'actor_edit_comment' comment.id  %}" ><i class="far fa-edit"></i></a>
                            <a href="{% url 'actor_delete_comment' comment.id  %}"><i class="far fa-trash-alt"></i></a>
                              {% endif %}
                              </div>
                          </div>
                              {% if comment.comment %}
                              <div class="row">
                                  <div class="col-12">
                                      <p class="card-text">{{comment.comment}}</p>
                          <br>
                                  </div>
                              </div>
                              {% endif %}
                          </div>
                        </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <br><br><br>
        {% endif %}
</div>
    <div class="col-2">
        {% include 'actors/dashboard.html' with actor=actor%}
    </div>
</div>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>






{% endblock %}
