{% load crispy_forms_tags %}
{% load bootstrap %}

<div class="container">
    <div class="card">
      <div class="card-body">
          <div class="row">
              <div class="col-12">
                  <div class="card-section">
                     <ul><li class="bold bigger">{{actor.name}} {{actor.last_name}}:</li>
                          <ul>
                                <li><a href="{% url 'actor_update' actor.slug %}"><i class="fas fa-pen"></i> Update</a></li>
                                <li><a href="{% url 'actor_delete' actor.slug %}"><i class="far fa-trash-alt"></i> Delete</a></li>
                          </ul>

                        <li>Gallery:</li>
                           <ul>
                               <li><a href="{% url 'actor_gallery' actor.slug %}"><i class="fas fa-images"></i> All</a></li>
                               <li><a href="{% url 'add_actor_picture' actor.slug %}"><i class="fas fa-plus"></i> Add</a></li>
                               <li><a href="{% url 'actor_management_picture' actor.slug %}"><i class="far fa-trash-alt"></i> Delete</a></li>
                              </ul>
                      <li>Filmography</li>

                            <ul>
                               <li class="bold">As Actor</li>
                               <ul>
                                   <li><a href="{% url 'actor_cast_list' actor.slug %}"><i class="fas fa-users"></i> All</a></li>
                                   <li><a href="{% url 'actor_add_cast' actor.slug %}"><i class="fas fa-plus"></i> Add</a></li>
                                   <li><a href="{% url 'actor_management_cast_editing' actor.slug %}"><i class="fas fa-pen"></i> Change</a></li>
                                   <li><a href="{% url 'actor_management_cast_deleting' actor.slug %}"><i class="far fa-trash-alt"></i> Delete</a></li>
                               </ul>
                                <li class="bold">As Crew member</li>
                               <ul>
                                   <li><a href="{% url 'actor_crew_list' actor.slug %}"><i class="fas fa-users"></i> All</a></li>
                                   <li><a href="{% url 'actor_add_crew' actor.slug %}"><i class="fas fa-plus"></i> Add</a></li>
                                   <li><a href="{% url 'actor_management_crew_editing' actor.slug %}"><i class="fas fa-pen"></i> Change</a></li>
                                   <li><a href="{% url 'actor_management_crew_deleting' actor.slug %}"><i class="far fa-trash-alt"></i> Delete</a></li>
                               </ul>
                            </ul>




                      <li>Comment:</li>
                           <ul>
                               <li><a href="#"><i class="fas fa-comments"></i> All</a></li>
                               <li><a href="#"><i class="fas fa-plus"></i> Add</a></li>
                              </ul>
                     </ul>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>








