{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-end no-gutters">
    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-11 center">
       <div class="row">
          <div class="col-12 col-xs-12 col-sm-12 col-md-3 col-lg-2 col-xl-2 center">
              {% if 'movies' in request.get_full_path %}
              <img id="actor_image_list" class="rounded mx-auto d-block" src="http://res.cloudinary.com/hmoahlwol/image/upload/{{comment_list.0.movie.poster}}" alt="{{comment_list.0.movie.title}}">
              {% elif 'persons' in request.get_full_path %}
               <img id="actor_image_list" class="rounded mx-auto d-block" src="http://res.cloudinary.com/hmoahlwol/image/upload/{{comment_list.0.actor.photo}}" alt="{{comment_list.0.actor.photo}}">
              {% endif %}
          </div>
          <div class="col-12 col-xs-12 col-sm-12 col-md-9 col-lg-8 col-xl-8">
              <h3 class="card-title offset-to-center" >
                    {% if 'movies' in request.get_full_path %}
                        Comments: {{comment_list.0.movie.title}} ({{comment_list.0.movie.year_of_production}})</h3>
                    {% elif 'persons' in request.get_full_path %}
                        Comments: {{comment_list.0.actor.name}} {{comment_list.0.actor.last_name}}</h3>
                    {% endif %}
              {% for comment in comment_list %}
              <div class="row">
                    <div class="col-12">
                        <div class="card">
                          <div class="card-body">
                          <div class="row">
                              <div class="col-10 col-xs-10 col-sm-10 col-md-11 col-lg-11 col-xl-11">
                            <h5 class="card-title">{% include 'stars.html' with object=comment.stars %}</h5>
                            <p class="card-subtitle mb-3 text-muted comment_added_by">
                                Added by: <span class="bold">{{comment.added_by.username}}</span>  |
                                {% if comment.added_time == comment.edited_time %}
                             {{comment.added_time}}
                              {% else %}
                               {{comment.added_time}} (added) |  {{comment.edited_time}} (edited)
                              {% endif %}
                            </p>
                              </div>
                              <div class="col-2 col-xs-2 col-sm-2 col-md-1 col-lg-1 col-xl-1">
                                  {% if request.user.id is comment.added_by.id %}
                                    {% if 'movies' in request.get_full_path %}
                                        <a href="{% url 'edit_comment' comment.id  %}" ><i class="far fa-edit"></i></a>
                                        <a href="{% url 'delete_comment' comment.id  %}"><i class="far fa-trash-alt"></i></a>
                                    {% elif 'persons' in request.get_full_path %}
                                        <a href="{% url 'actor_edit_comment' comment.id  %}" ><i class="far fa-edit"></i></a>
                                        <a href="{% url 'actor_delete_comment' comment.id  %}"><i class="far fa-trash-alt"></i></a>
                                    {% endif %}
                              {% endif %}
                              </div>
                          </div>
                              {% if comment.comment %}
                              <div class="row">
                                  <div class="col-12">
                                      <p class="card-text">{{comment.comment}}</p>
                          <br>
                                  </div>
                              </div>
                              {% endif %}
                          </div>
                        </div>

                {% endfor %}
                    </div>
              </div>
              {% if is_paginated %}
            <br>
            {% include 'pagination.html' %}
            {% endif %}
              <div class="row">
                    <div class="col-12">
                    <hr>
                    {% if comment_list.0.movie %}
                        <a href="{% url 'movie_detail' comment_list.0.movie.slug %}" class="btn btn-outline-dark my-2 my-sm-0" >Return to {{comment_list.0.movie.title}}</a><br><br>
                    {% elif comment_list.0.actor %}
                        <a href="{% url 'actor_detail' comment_list.0.actor.slug %}" class="btn btn-outline-dark my-2 my-sm-0" >Return to {{comment_list.0.actor.name}} {{comment_list.0.actor.last_name}}</a><br><br>
                    {% else %}
                        <a href="{{request.META.HTTP_REFERER}}" class="btn btn-outline-dark my-2 my-sm-0" >Return </a><br><br>
                    {% endif %}
                    </div>
              </div>
          </div>
       </div>
    </div>
</div>























{% endblock %}