{% extends 'base.html' %}


{% load crispy_forms_tags %}
{% load bootstrap %}



{% block content %}


<div class="row justify-content-end no-gutters">
    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-10 center">

          <div class="row">
              <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 center">
                  {% if 'persons' and 'cast' in request.get_full_path %}
                  <img id="actor_image_list" class=" mx-auto d-block" src="http://res.cloudinary.com/hmoahlwol/image/upload/{{role.actor.photo}}" >
                  {% elif 'movies' and 'cast' in request.get_full_path %}
                  <img id="actor_image_list" class=" mx-auto d-block" src="http://res.cloudinary.com/hmoahlwol/image/upload/{{role.actor.photo}}" >
                  {% elif 'persons' and 'crew' in request.get_full_path %}
                  <img id="actor_image_list" class=" mx-auto d-block" src="http://res.cloudinary.com/hmoahlwol/image/upload/{{role.actor.photo}}" >
                  {% elif 'movies' and 'crew' in request.get_full_path %}
                  <img id="actor_image_list" class=" mx-auto d-block" src="http://res.cloudinary.com/hmoahlwol/image/upload/{{role.actor.photo}}" >
                  {% elif 'persons' and 'gallery' in request.get_full_path %}
                  <img id="actor_image_list" class=" mx-auto d-block" src="http://res.cloudinary.com/hmoahlwol/image/upload/{{photo.picture}}" >
                  {% elif 'movies' and 'gallery' in request.get_full_path %}
                  <img id="actor_image_list" class=" mx-auto d-block" src="http://res.cloudinary.com/hmoahlwol/image/upload/{{photo.picture}}" >
                  {% elif 'cast' in request.get_full_path %}
                  <img id="actor_image_list" class=" mx-auto d-block" src="http://res.cloudinary.com/hmoahlwol/image/upload/{{role.picture}}" >
                  {% elif 'crew' in request.get_full_path %}
                  <img id="actor_image_list" class=" mx-auto d-block" src="http://res.cloudinary.com/hmoahlwol/image/upload/{{role.picture}}" >
                  {% endif %}
              </div>
              <div class="col-12 col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10 offset-to-center">
                  <div class="row">
                      <div class="col-12">
                          <form action="" method="POST">{% csrf_token %}
                              <br>
                              {% if 'cast' or 'crew' in request.get_full_path %}
                              <h5> Are you sure you want to delete</h5>
                                  {% if 'cast' in request.get_full_path %}
                                    <h4> {{role.actor}} playing as {{role.role}} in {{role.movie}}?</h4>
                                  {% elif 'crew' in request.get_full_path %}
                                    <h4> {{role.actor}} who is {{role.role}} in {{role.movie}}?</h4>

                                  {% endif %}
                              {% else %}
                              <h5> Are you sure you want to delete?</h5>
                              {% endif %}
                              <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Submit</button>
                              <a href="{{request.META.HTTP_REFERER}}" class="btn btn-outline-dark my-2 my-sm-0" >Back</a>
                          </form>
                            <br>
                      </div>
                  </div>
              </div>
          </div>
    </div>
</div>


{% endblock %}